.user-bar {
    display: flex;
    justify-content: space-between;
    border-color: violet;
    align-items: center;
  }
  
  .left-section {
    border: 1px;
    border-color: orange;
  }
  
  .center-section {
    display: flex;
    border-color: yellow;
    align-items: center; /* Allinea verticalmente il contenuto */
  }